<div ng-class="{false: 'hide', true: 'show'}[show()]">
  <span>
    <button class="align-right" ng-click="updateShow()">Cart: {{ cartLength() }}</button>
  </span>
  {{ updateItems() }}
  <table class="item-holder" ng-repeat="item in items" ng-init="item.show=false" ng-class="{true: 'hide'}[item.quantity < 1]">
    <tbody>
      <tr>
        <td colspan='2'>
          <div><img class="item-thumbnail" src="{{ item.url }}"></div>
        </td>
      </tr>
      <tr>
        <td class="text-center" colspan='2'>
          {{ item.name }}
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          {{ item.description }}
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <button ng-click="showPrice(item)" ng-class="{true: 'hide', false: 'show'}[item.show]">Show Price</button>
        </td>
      </tr>
      <tr>
        <td colspan='1'>
          <p ng-class="{true: 'show', false: 'hide'}[item.show]">${{ item.price }}</p>
        </td>
        <td colspan='1'>
          <button ng-class="{true: 'show', false: 'hide'}[item.show]" ng-click="cart(item)">Cart</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>