
<div ng-controller="cartController" ng-class="{false: 'show', true: 'hide'}[show()]">
  <span>
    <button class="align-right" ng-click="updateShow()">Return to Browse</button>
  </span>

  <div ng-show="cartContents.length > 0">
    <%= render "orders/cartItems" %>
  </div>

  <div ng-show="cartContents.length == 0">
    <div class='text-center'>
      <h4>Your cart is empty.
      </h4>
    </div>
  </div>

</div>