.item-thumbnail {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  display: block;
}

.item-holder {
  width: 150px;
  display: inline-block;
  padding: 10px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

a:active {
  text-decoration: none;
}

.logo {
  margin-top: 70px;
  max-height: 100px;
  display: inline-block;
  float: left;
}

.inline {
  margin-top: 70px;
  margin-left: 20px;
  display: inline-block;
  color: gray;
}

.border {
  border-top: 2px solid #B22525;
}
