<!DOCTYPE html>
<html>
<head>
  <title>Euphrates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class='navbar-header'>
        <a class="navbar-brand" href="/#/">Euphrates</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/#/pastorders">Review Past Orders</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class='container' ng-app="euphrates">
    <div class='container'>
      <div class="jumbotron">
        <h3>Euphrates: The World's Marketplace</h3>
      </div>
    </div>
    <ng-view>
  </div>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
